---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact Us.</Fragment>
      <Fragment slot="desc">We're here to help.</Fragment>
    </Sectionhead>

    <form>
      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
        <div>
          <h2 class="font-medium text-2xl text-gray-800">Contact PorNo!</h2>
          <p class="text-lg leading-relaxed text-slate-500 mt-3">
            Have something to say? We're here to listen. Fill out the form or shoot us an email.
          </p>
          <div class="mt-5">
            <div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
              <span>1734 Sanfransico, CA 93063</span>
            </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
                href="mailto:hello@astroshipstarter.com"
                >hello@astroshipstarter.com</a
              >
            </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
              <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
                href="tel:+1 (987) 4587 899">+1 (987) 4587 899</a
              >
            </div>
          </div>
        </div>
        <div>
          <!-- CAN DO THIS LATER WHEN COMPANY EMAIL IS SET UP! STRAIGHT TO INBOX. -->
          <Contactform />
        </div>
      </div>
    </form>
  </Container>
</Layout>
