---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Basic",
    price: "Free",
    popular: false,
    features: [
      "Adult content blocking",
      "Anonymous user mode",
      "Up to 3 custom redirects",
      "Live algorithm updates",
      "Emergency helpline",
      "Community support"
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Premium",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All free features",
      "Custom ban-lists",
      "Unlimited custom redirection",
      "AI-powered URL analysis",
      "Streak tracker",
      "Password protection",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All premium Features",
      "Organizational insight reports",
      "Dedicated Account Manager",
      "Admin access control",
      "Tailored UI",
      "24/7 Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        Flexible solutions for you. No Surprises.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
