---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Calender Streaks",
    description:
      "Keep track of your progress and stay motivated with our streak tracker. Each day without visiting a porn site adds to your streak, helping you visualize your commitment and success over time. ",
    icon: "bx:bxs-flame",
  },
  {
    title: "Lighting-fast Performance",
    description:
      "PorNo! optimizes for enhanced speed and actions. We're always ahead, so you're never behind on your journey.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Personalized Redirection",
    description:
      "Transform your habits by redirecting your temptations. Instead of a standard block page, PorNo! guides you to inspiring and uplifting content you've chosen yourself.",
    icon: "bx:bxs-hand",
  },
  {
    title: "Bring Your Own Data",
    description:
      "We understand that this sis a personal journey. PorNo! gives you the freedom to tailor your blocking experience with custom ban-lists on the fly.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Advanced URL Detection",
    description:
      "Stay focused and distraction-free with our reliable content filtering. Our cutting-edge detection algorithm has you covered.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Join the 15,000+ people PorNo! has impacted worldwide in your journey.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Inspire and Empower Yourself.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    PorNo! comes all batteries included. With 30,000+ monitored sites, frictionless support comes straightaway.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
